.listing-wrapper {
  box-sizing: border-box;
  height: 100%;
  min-width: 20em;
  font-size: 0.8em;
  font-weight: 400;

  .listing-content {
    @include material-shadow(1);
    background: #fff;
    width: 100%;
    height: 100%;
  }

  .listing-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5em;
    border-bottom: 1px solid #ddd;
    padding: 0 1em;

    .logo-wrapper {
      height: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        @include material-shadow(1);
        height: 100%;
        border-radius: 10px;
        transition: 100ms ease-in-out;
        &:hover {
          cursor: pointer;
          transition: 100ms ease-in-out;
        }
      }

      .youtube-logo {
        box-shadow: 0 3px #fd6e72;
      }

      .reddit-logo {
        box-shadow: 0 3px #ff8e64;
      }

      .twitch-logo {
        box-shadow: 0 3px #a990d7;
      }

      .active {
        margin-top: 6px;
        box-shadow: none;
      }
    }
  }

  .listing-information {
    font-size: 0.9em;
    font-weight: 500;
    height: 4em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      font-size: 1.1em;
      height: 3rem;
      width: 100%;
      border: 1px solid #e7e7e7;
      border-right: none;
      padding-left: 0.5em;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }

    i {
      top: 0;
      right: 1em;
      font-size: 1.6em;
      margin-left: 0.6em;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      box-sizing: border-box;
      height: 3rem;
      color: white;
      border: none;
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }
    .focus-bar {
      height: 1px;
    }
  }

  .youtube {
    color: $youtube-color;
    i:hover {
      color: $dark-youtube;
    }
    button {
      background: $youtube-color;
      &:hover {
        background: $dark-youtube;
      }
    }
    .focus-bar {
      background: $youtube-color;
    }
  }

  .reddit {
    color: $reddit-color;
    i:hover {
      color: $dark-reddit;
    }
    button {
      background: $reddit-color;
      &:hover {
        background: $dark-reddit;
      }
    }
    .focus-bar {
      background: $reddit-color;
    }
  }

  .twitch {
    color: $twitch-color;
    i:hover {
      color: $dark-twitch;
    }
    button {
      background: $twitch-color;
      &:hover {
        background: $dark-twitch;
      }
    }
    .focus-bar {
      background: $twitch-color;
    }
  }

  .listing-item {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0.2em 1em;
    height: 2.5em;
    position: relative;
    &:hover {
      cursor: pointer;
      background: #ecf0f1;
    }
    img {
      height: 100%;
      margin-right: 1em;
    }
    .twitch-viewer-count {
      color: $youtube-color;
      position: absolute;
      top: 25%;
      right: 1em;
      display: flex;
      align-items: center;
      .circle {
        margin-right: 0.5em;
        background: $youtube-color;
        border-radius: 50%;
        height: 5px;
        width: 5px;
      }
    }
  }

  .selected {
    background: #ecf0f1;
  }

  #deleting-youtube:hover {
    background: $youtube-color;
    color: #fff;
  }

  #deleting-reddit:hover {
    background: $reddit-color;
    color: #fff;
  }

  #deleting-twitch:hover {
    background: $twitch-color;
    color: #fff;
  }
}

@media (max-width: 700px) {
  .listing-wrapper {
    position: fixed;
    z-index: 2;
  }
}
