@mixin loader-style($color) {
  height: 3em;
  width: 3em;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -1.5em 0 0 $color;
  }
}

@keyframes youtube-loader {
  0%,
  100% {
    box-shadow: -1.5em 0 0 transparent;
    background-color: $youtube-color;
  }
  50% {
    box-shadow: -1.5em 0 0 $youtube-color;
    background-color: transparent;
  }
}

@keyframes reddit-loader {
  0%,
  100% {
    box-shadow: -1.5em 0 0 transparent;
    background-color: $reddit-color;
  }
  50% {
    box-shadow: -1.5em 0 0 $reddit-color;
    background-color: transparent;
  }
}

@keyframes twitch-loader {
  0%,
  100% {
    box-shadow: -1.5em 0 0 transparent;
    background-color: $twitch-color;
  }
  50% {
    box-shadow: -1.5em 0 0 $twitch-color;
    background-color: transparent;
  }
}

.loader-wrapper {
  @include flex-center;
  width: 100%;
  margin-bottom: 10%;
  opacity: 0.5;
  transform: rotate(45deg);

  .loader {
    &.youtube {
      @include loader-style($youtube-color);
      &:before,
      &:after {
        animation: youtube-loader 0.8s linear infinite;
      }
      &:after {
        top: 50%;
        bottom: 0;
        animation-delay: .2s;
      }
    }

    &.reddit {
      @include loader-style($reddit-color);
      &:before,
      &:after {
        animation: reddit-loader 0.8s linear infinite;
      }
      &:after {
        top: 50%;
        bottom: 0;
        animation-delay: .2s;
      }
    }

    &.twitch {
      @include loader-style($twitch-color);
      &:before,
      &:after {
        animation: twitch-loader 0.8s linear infinite;
      }
      &:after {
        top: 50%;
        bottom: 0;
        animation-delay: .2s;
      }
    }
  }
}
