.reddit-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1em;

  .reddit-thread-item {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    min-height: 4em;
    font-size: 0.9em;
    line-height: 1.2em;
    border-bottom: 1px solid #fafafa;
    &:last-child {
      border: none;
    }

    .title {
      color: #222;
      text-decoration: none;
      line-height: 1em;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .image-wrapper {
      @include flex-center;
      height: 4em;
      width: 4em;
      overflow: hidden;
      img {
        height: 100%;
      }
    }

    .thread-data-wrapper {
      display: flex;
      font-weight: 500;
      .score {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
        font-size: 1.2em;
        font-weight: 500;
        color: $reddit-color;
        min-width: 3em;
      }
      .description {
        display: flex;
        flex-direction: column;
        span {
          color: #999;
          margin-left: 1em;
          font-size: 0.8em;
          font-weight: 400;
        }
        .publisher {
          font-size: 0.8em;
          color: #999;
          display: flex;
          font-weight: 400;
          .comments {
            text-decoration: none;
            font-weight: 500;
            color: #222;
            font-size: 1em;
            margin-right: 1em;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.reddit-comment-list-container {
  width: 100%;
  font-weight: 400;

  .reddit-thread-item {
    max-height: 10em;
    padding: 1em;
    border: none;
    img {
      max-height: 8em;
    }
    .comments {
      &:hover {
        text-decoration: none !important;
      }
    }
  }

  .comment-header {
    padding: 1em;
    .title {
      display: flex;
      img {
        max-height: 5em;
      }
      p {
        font-size: 1.3em;
        line-height: 1.2em;
      }
    }
  }
  .top {
    margin: 0.2em 0;
    margin-bottom: 0.5em;
    border-left: 2px solid #e7e7e7;
  }
  .comment {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em 1em 0.9em 1em;
    border: 1px solid #e7e7e7;
    border-radius: 5px;

    .comment-meta-data {
      .author {
        font-size: 0.9em;
        color: $reddit-color;
      }
      .points {
        margin-left: 1em;
        color: $dark-reddit;
        font-weight: 500;
        font-size: 0.8em;
        button {
          margin-left: 1em;
          border: 1px solid #e7e7e7;
          background: inherit;
          border-radius: 3px;
          &:focus {
            outline: none;
          }
          i {
            color: $dark-reddit;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .comment-body {
    margin-top: 0.2em;
  }

  .grey {
    background: #fafafa;
    border-radius: 5px;
  }
  .children {
    margin-left: 2em;
  }
  .thread-post {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-bottom: 1em;
    .body {
      font-size: 1.4rem;
      padding: 1em;
      border-top: 1px solid #e7e7e7;
      background: #fcfcfc;
    }
  }
}
