$nav-height: 50px;
$salmon: #ff6766;

.splash-page-wrapper {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  animation: background-animation 20s ease infinite;

  .switch-form-button {
    top: 1.5em;
    right: 1.5em;
    color: $salmon;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 0.5em;
    position: fixed;
    background: #fff;
    padding: 0.5em 1.5em;
    text-decoration: none;
    transition: 200ms;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: 200ms;
    }
  }

  .splash-form-wrapper {
    @include material-shadow(3);
    @include flex-col-center;
    background: #fefefe;
    max-width: 100%;
    width: 400px;
    height: 500px;
    max-height: 100%;
    border-radius: 5%;

    h4 {
      letter-spacing: 0.5px;
      font-weight: 500;
    }

    ul {
      @include flex-col-space-around;
      color: rgb(180, 0, 0);
      font-size: 0.8em;
      font-weight: 400;
      list-style: none;
    }

    form {
      @include flex-col-space-around;
      margin-top: 20px;
      height: 60%;
      width: 60%;
      box-sizing: border-box;
      button {
        margin-top: 10px;
        display: block;
        height: 40px;
        width: 140px;
        background: none;
        font-size: 1.4rem;
        font-weight: 500;
        color: $salmon;
        border: 1px solid $salmon;
        border-radius: 30px;
        transition: 200ms;
        &:hover {
          transition: 200ms;
          background: $salmon;
          color: #fefefe;
          cursor: pointer;
        }
      }
      .demo {
        color: $salmon;
        font-size: 1.4rem;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .input-group {
      width: 100%;
      position: relative;

      input {
        box-sizing: border-box;
        height: 2em;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #e7e7e7;
        font-size: 1em;
        letter-spacing: 1px;
        padding-left: 10px;
        font-weight: 400;
        &::placeholder {
          transition: color 250ms;
        }
        &:focus {
          outline: none;
          &::placeholder {
            transition: color 250ms;
            color: #ccc;
          }
          ~ .focus-bar {
            width: 100%;
            transition: 0.3s;
          }
        }
      }

      .focus-bar {
        position: absolute;
        width: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $salmon;
        transition: 0.3s;
      }
    }
  }
}
