html, body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background: #E8F4FA;
  text-rendering: optimizeLegibility;
}

.navbar-brand {
  padding: 0;
  height: 50px;
  width: 250px;
}

.navbar-header {
  float: left !important;
}

.navbar-brand a {
  height: 100%;
  display: inline-block;
}

.nav-brand-logo {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  padding: 5px 0 5px 0;
}

.nav-brand-text {
  font-size: 40px;
  position: relative;
  top: 10px;
  left: 15px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    width: auto;
  }

  .nav-brand-logo {
    margin-top: 5px;
    margin-right: 25px;
    display: block;
  }

  .nav-brand-text {
    display: none;
  }
}