$nav-height: 3em;
$light-salmon: #ff8a8a;
$salmon: #ff6766;
$purple: #9575cd;
$content-padding: 1em;
$youtube-color: #cc191e;
$dark-youtube: #a6090d;
$reddit-color: #ff4500;
$dark-reddit: #c63600;
$twitch-color: #6441a4;
$dark-twitch: #4f2797;
