/*--- Universal styling ---*/
.sidebar__wrapper__subreddit,
.sidebar__wrapper__subreddit--selected {
  position: relative;
}

.sidebar__wrapper__subreddit span,
.sidebar__wrapper__subreddit--selected span {
  color: black;
}

.sidebar__wrapper__subreddit .fa-times
.sidebar__wrapper__subreddit--selected .fa-times {
  display: none;
}

.sidebar__wrapper__subreddit:hover .fa-times
.sidebar__wrapper__subreddit--selected:hover .fa-times {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: #D91E18;
}

.sidebar__wrapper__subreddit .fa-times:hover,
.sidebar__wrapper__subreddit--selected .fa-times:hover {
  color: #96281B;
}

/*--- Individual styling DEFAULT ---*/
.sidebar__wrapper__subreddit img {
  height: 25px;
  margin-right: 10px;
}

.sidebar__wrapper__subreddit span {
  display: inline-block;
}

/*--- Individual styling SELECTED ---*/
.sidebar__wrapper__subreddit--selected {
  border-left: 4px solid #004C79;
}

.sidebar__wrapper__subreddit--selected img {
  height: 50px;
  margin-right: 10px;
}
