.thumbnail img {
  height: 100%;
  width: 100%;
}

.thumbnail {
  border: none;
  opacity: 0.75;
  width: 100%;
  background: #0C2032;
}


.thumbnail:hover {
  cursor: pointer;
}

.thumbnail-active {
  opacity: 1;
  padding-top: 15px;
}