.content-wrapper {
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
  height: auto;
  padding: 10px 20px;
}

.content-wrapper--expanded {
  left: 0;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .content-wrapper {
    left: 0;
    width: 100%;
  }
}