.main__container {
  position: absolute;
  top: 50px;
  width: 100%;
  transition: all 0.2s;
}

.main__container--toggled {
  top: 150px;
}

.main__container__logo {
  margin: 40px 0;
  text-align: center;
}

.main-logos__image {
  display: inline-block;
  width: 25%;
}

.main__container__header {
  text-align: center;
  position: relative;
  top: 20px;
}

@media screen and (max-width: 767px) {
  .main-logos__image {
    width: 50%;
  }
}
