html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #2c3e50;
  color: #ecf0f1;
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.thumbnail {
  width: 100%;
  background: #674172;
  border: 1px dashed #BE90D4;
}

.thumbnail:hover {
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
}

.videoTitle {
  text-align: center;
}

.videoDescription {
  padding: 0 2%;
}

.channelButtons {
  margin: 2% 0;
}

.channelButton {
  height: 4em;
}