<!DOCTYPE html>
<html>
  <head>
    <title>BundleMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <% if ENV["RAILS_ENV"] == "development" %>
      <script src="http://localhost:4000/bundle.js"></script>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="180x180" href="http://res.cloudinary.com/jinchen93/image/upload/v1499547652/apple-touch-icon_iszv6p.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://res.cloudinary.com/jinchen93/image/upload/v1499547647/favicon-32x32_wejg3h.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://res.cloudinary.com/jinchen93/image/upload/v1499547647/favicon-16x16_xx6fho.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
